apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: mymicro
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: jaydaniel10/frontend:1.0.0
          ports:
            - containerPort: 80
          envFrom:
            - configMapRef:
                name: app-config
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: mymicro
spec:
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 80

